<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="ContactApp" packages="">
    <Appenders>
        <File name="FileAppender" fileName="../dk_app_logs/contactapp.log" append="false">
            <PatternLayout>
                <Pattern>%d [%p] %c{1}.%M %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>
</Configuration>