.image-upload > input {
    display: none;
}

.profile-text {
    padding: 10px;
}

.contact-photo {
    max-height: 200px;
    max-width: 200px;
}

.red {
    color: red;
}

/* Popup windows styles */
.popupSmall {
    display: none;
    position: fixed;
    padding: 10px;
    width: 300px;
    height: 200px;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -100px;
    background: #f9f9f9;
    z-index: 20;
}

.popupBig {
    display: none;
    position: fixed;
    padding: 10px;
    width: 300px;
    height: 450px;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -300px;
    background: #f9f9f9;
    z-index: 20;
}

.popupSmall:after,.popupBig:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -2;
}

.popupSmall:before,.popupBig:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
}