.image-upload > input {
    display: none;
}

.profile-text {
    padding: 15px;
}

.contact-photo {
    max-height: 200px;
    max-width: 200px;
}

.red {
    color: red;
}

.gray {
    color: gainsboro;
}

.blue {
    color: blue;
}

.glyph-big {
    font-size: 20px;
}

/* Popup windows styles */

.popup-btn {
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 55px;
}

.popupSmall {
    display: none;
    position: fixed;
    padding: 10px;
    width: 300px;
    height: 200px;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -100px;
    background: #f9f9f9;
    z-index: 20;
}

.popup-phone {
    display: none;
    position: fixed;
    padding: 10px;
    width: 300px;
    height: 450px;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -300px;
    background: #f9f9f9;
    z-index: 20;
}

.popup-attachment {
    display: none;
    position: fixed;
    padding: 10px;
    width: 300px;
    height: 220px;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -200px;
    background: #f9f9f9;
    z-index: 20;
}

.popupSmall:after, .popup-phone:after, .popup-attachment:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -2;
}

.popupSmall:before, .popup-phone:before, .popup-attachment:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
}

.input-group-cust {
    margin-right: 15px;
    margin-left: 108px;
}

div.centered {
    height: 50%;
    display: flex;
    align-items: center
}

div.centered h3 {
    margin: 0;
}