.image-upload > input {
    display: none;
}

.profile-text {
    padding: 10px;
}

.contact-photo {
    max-height: 200px;
    max-width: 200px;
}

.red {
    color: red;
}

.spacing {
    padding-top: 20px;
}