* {
    box-sizing: border-box;
}

[class*='jlab-cell-'] {
	float: left;
	border: 1px solid black;
}

.jlab-cell-1 { width: 8.33%; }
.jlab-cell-2 { width: 16.66%; }
.jlab-cell-3 { width: 25.0%; }
.jlab-cell-4 { width: 33.33%; }
.jlab-cell-5 { width: 41.66%; }
.jlab-cell-6 { width: 50.0%; }
.jlab-cell-7 { width: 58.33%; }
.jlab-cell-8 { width: 66.66%; }
.jlab-cell-9 { width: 75.0%; }
.jlab-cell-10 { width: 83.33%; }
.jlab-cell-11 { width: 91.66%; }
.jlab-cell-12 { width: 100.0%; }

.jlab-row {
	width: 100%;
	clear:both;
}